{% extends '_parts/auth.part.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
{% if error %}
        <div class="toastify" data-title="{{ error.messageKey|trans(error.messageData, 'security') }}"></div>
    {% endif %}
<div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
                <div class="col-sm-8 col-md-6 col-xl-9">
                  <h2 class="mb-3 fs-7 fw-bolder">Welcome to {{siteOptions.siteName}}</h2>
                  <p class=" mb-9">Sign in</p>
                  <div class="row">
                  <form method="post">
                    <div class="mb-3">
                      <label for="inputUsername" class="form-label">Username</label>
                      <input type="text" value="" name="username" id="inputUsername" class="form-control" autocomplete="email" required autofocus>
                      <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
                    </div>
                    <div class="mb-4">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" id="exampleInputPassword1" class="form-control" autocomplete="current-password" required>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                      <div class="form-check">
                        <input class="form-check-input primary" type="checkbox" name="remember" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label text-dark" for="flexCheckChecked">
                          Remember me
                        </label>
                      </div>
                      <a class="text-primary fw-medium text-right" href=" {{ path('app_forgot_password_request') }} ">Forgot Password </a>
                    </div>
                    {{ adminSubmitButton('Sign in') }}
                  </form>
                </div>
              </div>
            </div>
{% endblock %}
